body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
*{
    box-sizing: border-box;
}
.main{
    position: relative;
}
.rules{
    display: flex;
    min-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;;
    width: min-content;
    flex-direction: column;
    gap: 30vh;
    justify-content: space-between;
    padding-block: 20vh;
    position: absolute;
    
}
.transform-animated{
    transition: transform 1s easinou;
}
.btn-close-rules{
    border: none;
    background-color: transparent;
}
.hidden-content{
    transform: translateY(-100vh);
}