body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
*{
    box-sizing: border-box;
}
main {
    border: 4px solid blue;
    background: #1f3857;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    min-height: 100vh;
    min-width: 100vw;
    background-size: 230vw;
    background-repeat: repea;
    background-position: center -5vh;
}